<%- model_class = Note -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'Add %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
<% content_for :javascript_includes do%>
  <%= javascript_include_tag 'notes'%>
<%end%>
